<!DOCTYPE html>
<html>
  <head>
    <!-- metas -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Misinformation Trends in India</title>
    <link rel="shortcut icon" type="image/png" href="favicon.ico" />

    <!-- style -->
    <!-- google font -->
    <!-- loading locally -->
    <!-- <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,500,700"
      rel="stylesheet"
    /> -->
    <!-- local sheets -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/default.css" />
    <link rel="stylesheet" href="css/typography.css" />
    <link rel="stylesheet" href="css/style.css" />
    

    <!-- lib scripts -->
    <!-- vue minified vue in production -->
    <script src="scripts/libs/vue.min.js"></script>
    <!-- d3 v5 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- scroll library -->
    <script src="scripts/libs/graph-scroll.js"></script>
  </head>

  <body>
    <div id="container">
      <div id="intro">
        <div id="title">
          <h1>Misinformation Trends in India</h1>
          <p>
           Revealing patterns in debunked information as an outline to help you identify and be wary of content around which misinformation is spread. 
          <p>
          
        </div>
        <div id="intro-content">
          
        </div>
      </div>
      <div id="chart">
        <div id="graph">
          <div id="graph-title">
            <h3>{{ graphTitle }}</h3>
          </div>
          <div id="legend">
            <div class="protests">
              <div></div>
              <span>Protests</span>
            </div> 
            <div class="politicians">
              <div></div>
              <span>Politicians</span>
            </div>
            <div class="muslims">
              <div></div>
              <span>Anti-Muslim</span>
            </div>
            <div class="covid-19">
              <div></div>
              <span>Covid-19</span>
            </div>
            <div class="other">
              <div></div>
              <span>Other</span>
            </div>
           
          </div>
          <svg :width="svgWidth" :height="svgHeight">
            <g :transform="`translate(${margin.left}, ${margin.bottom})`">
              <g v-axis:x="scale" class="x-axis"></g>
              <g v-axis:y="scale" class="y-axis"></g>
              <g v-grid:gridlines="scale" class="gridlines"></g>

              <g v-for="(d, i) in filteredData">
                <g v-for="(d, i) in d.values">
                  
                  <circle
                    :cx="setShown !== 4 ? (5 + scale.x(i)) : (5 + scale.x(d.days))"
                    :cy="(setShown == 0 ? (scale.y(d.party) + (height * 0.08)) : ((setShown == 1 || setShown == 4) ? (scale.y(d.domain) + 5) : (setShown == 3 ? (scale.y(d.type) + (height * 0.08)):(scale.y(d.cat) + 20))))"
                    :r="10"
                    :name="d.domain"
                    :fill="myFill(d.cat)"
                    :class="[d.id == iSelected ? 'circle-active' : (iSelected !=null ? 'circle-inactive' : 'circle-up')]"
                    @mouseover="showLabel = !showLabel,
              myTooltip(d), select(d.id)"
                    @mouseleave="showLabel = !showLabel, myTooltip(d), select(null)"
                  />
                </g>
              </g>

              <text x="5" :y="svgHeight - margin.bottom - margin.top">
                {{ xAxisLabel }}
              </text>
            </g>
          </svg>
        </div>
        <section id="sections" class="text-content">
          <div class="text-area">
            <h5 class="total">Misinformation by Source</h5>
            <p>
              Misinformation has increasingly become a pervasive issue that traverses social media platforms. Organizations like 
              Boom Live, Logical Indian and India Today are IFCN certified fact-checking websites that debunks information. 
            <p>
              This investigation analyzed and presents
              recurring patterns in 3500+ claims from these organizations.
            </p>
          </div>
          <div class="text-area">
            <h5 class="total">Emerging Themes</h5>
            <p>
              The analysis revealed 15+ key-words that were recurring frequently. It was possible to identify underlying themes within these terms 
              and categorize them into four main categories. The themes were COVID-19, Politicians, Protests and Muslims.

            </p>
          </div>
          <div class="text-area">
           <h5 class="total">Breakdown of patterns: COVID-19</h5> 
            <p>
              "COVID-19", "Coronavirus", "COVID-19 Vaccine" were frequently occuring words in 2020-2021.</p>

             <p> COVID-19 has triggered mass misinformation within India. The public health misinformation
              does considerable damage to the people causing panic and misleading the public to adopt 
              practices that are harmful in times of a crisis. </p>

              <p>To understand what misinformation in this category looks like 
              hover the graphs.</p>

            </p>
  
          </div>
          <div class="text-area">

            <h5 class="total">Breakdown of patterns: Politicians</h5> 
            <p>
            Politicians contributed to 14% of overall claims in which close to 50 claims were about "Rahul Gandhi".
            "Narendra Modi" and "BJP" contributed to 10% of the misinformation within the given corpus. 
         
            </p> 
            <p>
              To understand what misinformation in this category looks like hover the graphs.
            </p>

      
          </div>
          <div class="text-area">
            <h5 class="total">Breakdown of patterns: Protests</h5>
            <p>
              112 out of 530 claims in 2021 was about "Farmers", "Farmers Protest" or "Protest"
              The government has a history of shutting down protests and dissenting voices against the government
              in the guise of misinformation. This happened recently with the <a href= "https://www.wsj.com/articles/facebook-blocks-then-restores-content-calling-on-indian-prime-minister-modi-to-resign-11619652354"> COVID-19 surge </a> and the <a href = "https://www.theguardian.com/world/2021/feb/09/twitter-concerned-for-staff-in-india-after-row-over-account-removals">farmers protest.</a> 
              </p> 
              <p>
              However, by hovering over the graphs in this section you can notice that the misinformation that is circulated in this category is usually 
              about the protest itself and not the cause of the protest. 
            </p>
          </div>

          <div class="text-area">
            <h5 class="total">Breakdown of patterns: Anti-Muslim</h5>
            <p>
              "Muslim" is a frequently occuring key word in misinformation. Anti-muslim misinformation has led to <a href = "https://caravanmagazine.in/religion/delhi-violence-north-east-maujpur-jaffrabad-babarpur-muslims-hindu">killing of muslims within the country.</a>
              The misinformation against muslims is a form of hate speech that accelerates the existing deep-seated prejudice against muslims and islamaphobia.
              
            </p>
            <p>

            </p>
            <p>
            
            </p>
          </div>
          <div class="text-area">
            <h5 class="total"></h5>
            <p>
              To understand what misinformation in this category looks like hover the graphs.
            </p>

            
            </div>
          </div>
        </section>
      </div>
      <!-- <div id="conclusion" class="body-text"> -->
        <!-- <h5 class="total">Reflections</h5>
        <p>
          
        </p>
        <p>
          
        </p>
        <p>
         
        </p>
        <h5 class="total">What can you do?</h5>

        <p>

        </p>
      </div> -->
      <div class="footer">
  
        <footer>
          <ul>
            <li class="SEO-text">This story was created for Thesis at Parsons School of Design by Pavithra Chandrasekhar. This project was created using <a class="underline"  href="https://github.com/AndrewLevinson/dark-data/tree/master/cookies-production" target="_blank">source code</a> by Andrew Levinson.
            <li class="SEO-text">View my <a class="underline"  href="https://github.com/PavithraChandrasekhar-port/misinfo-viz" target="_blank"></a>code. Review the <a class="underline"  href="https://github.com/PavithraChandrasekhar-port/data-investigation-misinfo" target="_blank">data</a></li>.
            </li>
            <li class="footer-line"></li>
            <li class="copyright">
              <!-- <span id="OR_FOOT_logo"><img src="http://static5.orstatic.com/info/app-revamp/promotion/images/ci/footer-logo.png" width="26" height="26"  alt=""/></span> -->
              <span class="copyright-text"> Last Updated Claim: March 31st 2021.  </span>
            </li>
          </ul>
        </footer>

      </div>
    </div>
    <script src="scripts/script.js"></script>
  </body>
</html>
